/* header */
.header{
    width:100%;
    border-bottom: 2px solid gray;
    margin-bottom:5px;
}

.header .title{
    color:#FFCF49;
    font-weight:bolder;
}


/* under - header */
.under-header{
    margin-bottom:20px;
    align-self:flex-end;
    margin-right:20px;
}

.under-header .under-text{
    color:gray;
    font-size:13px;
    font-weight:bolder;
}

/* main-content */
.main-content{
    width:90%;
}

.main-content .checkboxform{
    margin-top:20px;
    padding-bottom:10px;
    border-bottom: 2px solid gray;
}

.main-content .grains{
    margin-top:0px;
}

.main-content .checkboxform .checkbox-title{
    font-size:17px;
    font-weight:bolder;
}

.main-content .checkboxform .defaultRange{
    margin-top:5px;
}

.main-content .checkboxform .defaultRange .range-values .range-value{
    color:gray;
    font-size:14px;
}

.main-content .checkboxform .defaultRange .range-values .range-value__accent{
    font-weight:bold;
}

.main-content .checkboxform input[type="checkbox"] {
    accent-color:#FFCF49;
}

.main-content .checkboxform input[type="range"] {
    background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #fff 50%, #fff 100%);
    border-radius: 8px;
    outline: none; 
    transition: background 450ms ease-in;
    
    -webkit-appearance: none;
    accent-color:#ffca1d;
}




.range-values{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.rangeInput{
    width:100%;
}

.explain-section{
    font-size:20px;
    font-weight:normal;
}

/*milk */
.milk,
.fruit{
    display:flex;
}

.milk span,
.fruit span{
    width:40%;
    align-self:center;
}

.value-button-section{
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-between;
}

.value-button-section input{
    width:50%;
    /* background-color: #97BC62; */
    background-color:white;
    border: .5px solid #dadada;
    cursor: pointer;
}



.buttons{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;

    margin-top:20px;
}

.buttons .form-button{
    background-color: #FFE283;
    color:black;

    outline:none;
    border:none;
    border-radius: 15px;

    width:95%;
    height:50px;
    margin-bottom:10px;

    font-size:20px;
    font-weight:bolder;
}

@keyframes hoverBigger{
    100%{
        width:100%;
        height:55px;
    }
}

.buttons .form-button:hover{
    cursor:pointer;
    animation: hoverBigger 1s ease-in-out forwards;
}


/* toast message */

#toast {
    position: fixed;
    bottom: 30px;
    left: 50%;
    padding: 15px 20px;
    transform: translate(-50%, 10px);
    border-radius: 30px;
    overflow: hidden;
    font-size: .8rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s, transform .5s;
    background: rgba(0, 0, 0, .35);
    color: #fff;
    z-index: 10000;
}

#toast.reveal {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 0)
}