/* header */
.header{
    width:100%;
    border-bottom: 2px solid gray;
    margin-bottom:5px;
    z-index:5;
}

.header .title{
    color:#FFCF49;
    font-weight:bolder;
}

.header svg{
    position:absolute;
    width:30px;
    left:20px;
}


/* under - header */
.under-header{
    margin-bottom:20px;
    align-self:flex-end;
    margin-right:20px;
}

.under-header .under-text{
    color:gray;
    font-size:13px;
    font-weight:bolder;
}

/* main-content */
.main-content{
    width:90%;
}

.main-content .checkboxform{
    margin-top:20px;
    padding-bottom:10px;
    border-bottom: 2px solid gray;
}

.main-content .grains{
    margin-top:0px;
}

.main-content .checkboxform .checkbox-title{
    font-size:17px;
    font-weight:bolder;
}

.main-content .checkboxform .defaultRange{
    margin-top:5px;
}

.main-content .checkboxform .defaultRange .range-values .range-value{
    color:gray;
    font-size:14px;
}

.main-content .checkboxform .defaultRange .range-values .range-value__accent{
    font-weight:bold;
}

.main-content .checkboxform input[type="checkbox"] {
    accent-color:#FFCF49;
}

.main-content .checkboxform input[type="range"] {
    background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #fff 50%, #fff 100%);
    border-radius: 8px;
    outline: none; 
    transition: background 450ms ease-in;
    
    -webkit-appearance: none;
    accent-color:#ffca1d;
}




.range-values{
    display:flex;
    justify-content: space-between;
    width:100%;
}

.rangeInput{
    width:100%;
}

.explain-section{
    font-size:20px;
    font-weight:normal;
}

/*milk */
.milk,
.fruit{
    display:flex;
}

.milk span,
.fruit span{
    width:40%;
    align-self:center;
}

.value-button-section{
    width:100%;
    height:50px;
    display:flex;
    justify-content: space-between;
}

.value-button-section input{
    width:50%;
    /* background-color: #97BC62; */
    background-color:white;
    border: .5px solid #dadada;
    cursor: pointer;
}



.buttons{
    width:90%;
    display:flex;
    justify-content: center;
    align-items: center;

    margin-top:20px;
}

.buttons .form-button{
    background-color: #FFE283;
    color:black;

    outline:none;
    border:none;
    border-radius: 15px;

    width:95%;
    height:50px;
    margin-bottom:10px;

    font-size:20px;
    font-weight:bolder;
}

@keyframes hoverBigger{
    100%{
        width:100%;
        height:55px;
    }
}

.buttons .form-button:hover{
    cursor:pointer;
    animation: hoverBigger 1s ease-in-out forwards;
}

/* dialog */

dialog{ 
    border: 1px solid lightgray;
    width: 95%;
    height: 80%;
    border-radius: 20px;
    padding: 0;
    background-color:gray;
}

#slider{
    height:92%;
}

dialog .slider{
    background: lightpink;
    width: 100%;
    height: 92%;
    border-radius: 20px 20px 0px 0px;

    touch-action: pan-y;
}

dialog .item{
    width:100%;
    height:100%;
}

dialog .buttons{
    display:flex;
    justify-content: space-between;
    height:8%;
    width:100%;
    margin:0;
}

dialog .buttons .dialog_skip{
    border: none;
    width: 50%;
    height: 100%;
    border-bottom-left-radius: 20px;
    padding:0;
    border:1px solid lightgray;
}

dialog .buttons .dialog_next{    
    border: none;
    width: 50%;
    height: 100%;
    border-bottom-right-radius: 20px;
    padding:0;
    border:1px solid lightgray;
}

a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

.dialog_next_button{
    position: absolute;
    z-index: 10;
    top:230px;
}

.dialog_prev_button{
    position: absolute;
    z-index: 10;
    top:230px;
    right:0;
}

.slider .item .dialog-content{
    width:300px;
    height:95%;
    padding:10px;
}

@keyframes slide-left {
    from{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    to{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
}

@keyframes slide-left-back {
    from{
        clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
    }
    to{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@keyframes slider-right {
    form{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }
    to{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }    
}

@keyframes slider-right {
    form{
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    to{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }    
}


.item:nth-child(1) {background-color: rgb(152, 255, 121);}
.item:nth-child(2) {background-color: rgb(121, 255, 237);}
.item:nth-child(3) {background-color: rgb(121, 168, 255);}
.item:nth-child(4) {background-color: rgb(195, 121, 255);}
.item:nth-child(5) {background-color: rgb(255, 121, 222);}