/* input[type=range] { width:100%; -webkit-appearance: none; background: transparent; }

input[type=range]:focus { outline: none; }

input[type=range] { width: 100%; cursor: pointer; background: red; border-color: blue; color: purple; }

input[type=range]::-webkit-slider-thumb { -webkit-appearance: none; background: #ffffff; cursor: pointer; border: 1px solid #000000; height: 36px; width: 16px; margin-top: -14px; box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; border-radius: 3px; }

input[type=range]::-webkit-slider-runnable-track { width: 100%; height: 8.4px; cursor: pointer; box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; background: #3071a9; border-radius: 1.3px; border: 0.2px solid #010101; } input[type=range]:focus::-webkit-slider-runnable-track { background: #367ebd; }

input[type=range]::-webkit-fill-lower { background: #2a6495; border: 0.2px solid #010101; border-radius: 2.6px; box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; } */


.slider_wrap{
    position:relative;
    height:40px;
    margin:34px 24px 0 0;
}
.ui-slider{
    position: relative;
    text-align: left;
}

.ui-slider-horizontal{

}

.ui-widget{
    font-family: Arial, Helvetica, sans-serif;
}

.ui-widget-content{

}

.slider-align{
    position: relative;
    margin:0 22px;
}

.ui-widget-header{
    background:#f8f8f8;
    font-weight:bold;
}

.ui-slider .ui-slider-range{
    position:absolute;
    top:-1px !important;
    z-index:1;
    display: block;
    border:0;
    background-position: 0 0;
    background:rgb(247,17,76);
    height:4px !important;
}

.ui-slider-horizontal .ui-slider-range{
    top:0;
    height:100%;
}

.ui-slider .ui-slider-handle{
    position: absolute;
    z-index:2;
    width: 28px;
    height: 30px;
    top:-14px !important;
    cursor: pointer;
    touch-action: none;
    -ms-touch-action: none;
}

.ui-slider-horizontal .ui-slider-handle{
    margin-left:-24px;
}

.slider_wrap .ui-state-default{
    background:url("https://image.goodchoice.kr/images/web_v3/ico_slider.png") 0 0 no-repeat;
    background-size:28px auto;
 }

 .ui-state-default,
 .ui-widget-content .ui-state-default{
     font-weight:normal;
     color:#454545;
 }




 .control_light .light_line { position: relative; width: 100%; height: 2px; background-color: #e7eff0; } .control_light .line_indicator { position: absolute; top: 0; bottom: 0; left: 0; min-width: 24px; max-width: 100%; background-color: #177efb; } .control_light .line_indicator .figure_spot { display: block; width: 24px; height: 24px; position: absolute; right: 0; top: 50%; transform: translateY(-50%); -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; border-radius: 50%; background-color: #fff; box-shadow: 0 2px 6px 0 #b8c0cc; cursor: pointer; } .control_light .line_indicator .figure_desc .num { display: block; line-height: 19px; font-size: 16px; } .control_light .line_indicator.type_default .figure_desc { top: -16px; }
