.header{
    margin-bottom:0px;
    width:100%;
    border-bottom: 3px solid gray;
}

.header .title{
    color:#FFCF49;
    font-weight:bolder;
}

.header svg{
    position:absolute;
    width:30px;
    left:20px;
}

.charge-section{
    width:95%;
}

.range-values{
    display:flex;
    justify-content: space-between;
    width:90%;
    margin-top:7px;
}

.range-middle{
    margin-left:50px;
}

.rangeInput{
    width:90%;
}

@keyframes hideSplashScreen{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: white;
    height: 100vh;
    width:100vw;

    position: absolute;
    top:0;

    display:flex;
    justify-content: center;
    align-items: center;

    animation: hideSplashScreen 1s ease-in-out forwards;
    animation-delay: 2s;
}

@keyframes rotate_image{
    100%{
        transform: rotate(360deg);
    }
}
#splash-screen img{
    width:50vw;
    height:50vh;

    animation: rotate_image 3s linear
     forwards;
}




/* btn */
#menu-btn{
    display:inline-block;
    font-size:35px;
    color:black;
    cursor:pointer;
    transition: .2s linear;

    position: absolute;
    right: 20px;
    top: 15px;
}

#menu-btn.fa-times{
    transform: rotate(180deg);
}

.navbar{
/*     position:absolute;
    top:99%;left:0;right:0;
    background-color:var(--white);
    border-top:var(--border);
    border-bottom:var(--border); */
    display:none;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 3s linear;

    margin-top:10px;
}

.navbar.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    display:flex;
    flex-direction:column;
    align-items: center;

    border-bottom:2px solid rgb(179, 179, 179);
}


/* @keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
} */


/*input:range*/
input[type="range"] {
    background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, rgb(236, 236, 236) 50%, rgb(236, 236, 236) 100%);
    border-radius: 8px;
    outline: none; 
    transition: background 450ms ease-in;
    
    -webkit-appearance: none;
    accent-color:#ffca1d;
}

.charge-section .range-values .range-value{
    color:gray;
    font-size:14px;
}

.charge-section .range-values .range-value__accent{
    font-weight:bold;
}

.charge-section .charge-section__header{
    font-size:17px;
    font-weight:bold;

    align-self: flex-start;
    margin-left:3px;
}