.store-header-back{
    background-color:white;
    width:100%;
    height:150px;

    display:flex;
    justify-content: center;
    align-items: center;
}

.store-header{
    width:90%;
    height:100px;
    background: white;

    border-radius:50px;

    display:flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 5px 5px 0px rgb(0, 0, 0);
    position:fixed;
    top:30px;
}

.store-header span{
    font-size:30px;
    font-weight:bolder;
}


.store-info {
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;

    width:90%;

    padding-bottom:20px;
    border-bottom:2px solid gray;
}

.store-info .store-info__header,
.menu-section .menu-section__header{
    align-self: flex-start;
    margin-left:0.5rem;

    font-weight:bolder;
    font-size:25px;

    
    box-shadow: inset 0 -10px 0 #FFE283; 
}

.store-info .store-info-section{
    display:flex;
    flex-direction:row;
    align-items: center;

    width:90%;
    margin-top:10px;
}

.store-info .store-info-section svg,
.store-info .store-info-section i{
    width:20px;
}

.store-info .store-info-section span,
.menu-section .menu-section-txt{
    margin-left:20px;
    font-weight:bolder;
}

.menu-section{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: center;

    width:90%;

    margin-top:10px;
    padding-bottom:30px;
    border-bottom:2px solid gray;
}

.menu-section .menu-section__header{

}

.menu-section .menu-section-info{
    width:95%;
}

.menu-section .menu-section-txt{
    display:flex;
    justify-content:space-between;
    align-items:center;
    font-size:15px;
    margin-top:5px;
    width:90%;

    position:relative;
}

.menu-section .menu-section-txt .menu-section__name{
    z-index:-1;
}


.menu-section .menu-section-txt .menu-section__price{
    z-index:-1;    
}

.menu-section .menu-section-tags{
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    width:90%;
    margin-top:5px;
    margin-left:15px;
}

.menu-section .menu-section-tags .menu-section-tag{
    margin-left:2px;
    display: inline-block;
    background-color: #FFE283;
    text-align: center;
    color: black;
    border-radius: 10px;
    font-size:0.7rem;
    font-weight:bold;
    width: 3rem;
}

.other-menu-section .other-menu-section-infos{
    width:95%;
}

.other-menu-section .other-menu-section-infos .other-menu-section-info{
    width:100%;
}


.map-section{
    margin-top:30px;
    width:18rem;
    height:18rem;

    background-color:gray;
    border:3px solid black;

    border-radius:10px;
}

